{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/ponystand/ponystandheader.png",
      "fileBody" : "/interface/ponystand/ponystandbody.png",
      "fileFooter" : "/interface/ponystand/ponystandfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [90, 31],
      "dimensions" : [1, 3],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png",
	  "zlevel" : 1
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [5, 61],
      "dimensions" : [1, 1],
	  "slotOffset" : 3,
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [57, 57],
      "file" : "",
      "centered" : true,
      "maxSize" : [43, 43],
      "minSize" : [43, 43],
	  "zlevel" : 0
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/ponystand/ponystandoverlay.png",
      "position" : [1, 25]
    }
  }
}
